@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.btn_1 {
    box-shadow: 5px 5px 6px #0275d8 !important;
    border-radius: 4px !important;
}

#team {
    font-family: 'Andada Pro', serif !important;
    padding-top: 100px;
    background: #fcfcfc;
}

#team h1 {
    font-size: 30px;
    color: #555;
    font-weight: 800;
}

#team h4 {
    font-size: 18px;
    font-weight: 800;
}

#team h5 {
    font-size: 15px;
}

#team img {
    margin-top: -50px;
}

#team i {
    font-size: 26px;
    color: #0275d8;
}

#team p::-webkit-scrollbar {
    padding: 0 1px;
    width: 4px;
}

#team p::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#team p::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategray;
}

#team p {
    font-weight: 400;
    /* border-top: 1px solid #0275d8; */
    padding-top: 10px;
    font-size: 14px;
    height: 100px;
    overflow: auto;
}

hr {
    border-top: 1px solid #000 !important;
    color: #000 !important;
}

#team .card {
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 15px #0275d8;
    transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #0275d8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #9e9e9e;
}

#team .card:hover hr {
    border-top: 1px solid #fff !important;
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}

#projectleader,
#cordinator,
#moderator,
#develop,
#design,
#translator {
    display: none;
}

.team-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.btn1 {
    margin-left: 30px;
}

@media only screen and (max-width: 811px) {
    .team-buttons {
        display: grid !important;
        grid-template-columns: auto auto auto auto !important;
        grid-gap: 20px !important;
    }
    .btn1,
    .btn3,
    .btn5 {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 625px) {
    .team-buttons {
        display: grid !important;
        grid-template-columns: auto auto auto !important;
        grid-gap: 20px !important;
    }
    .btn1,
    .btn4 {
        margin-left: 10px;
    }
    .btn3,
    .btn5 {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 455px) {
    .team-buttons {
        display: grid !important;
        grid-template-columns: auto auto !important;
        grid-gap: 20px !important;
    }
    .btn1,
    .btn3,
    .btn5 {
        margin-left: 10px;
    }
    .btn4 {
        margin-left: 0px;
    }
}